.postList-wrapper {
    width: 700px;
}

.postList {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.post-error {
    text-align: center;
    color: rgb(255, 82, 82);
    font-weight: 500;
    font-size: 1.2em;
}

@media only screen and (max-width: 800px) {
    .postList-wrapper {
        width: 95vw;
    }
}  